body {
    background-color: aquamarine;
    padding-left: 15pc;
    padding-right: 15pc;
}

p {
    margin-left: 5pc;
    margin-right: 5pc;
}


@media only screen and (min-width: 600px){
    body {
        margin-left: 10pc;
        margin-right: 10pc;
    }
}

@media only screen and (max-width: 900px){
    body {
        padding-left: 10pc;
        padding-right: 10pc;
    }
}

@media only screen and (max-width: 600px){
    body {
        padding-left: 5pc;
        padding-right: 5pc;
    }
}

@media only screen and (max-width: 1000px){
    body {
        background-color: gold;
    }
}

@media only screen and (max-width: 900px){
    body {
        background-color: fuchsia;
    }
}

@media only screen and (max-width: 800px){
    body {
        background-color: darkorange;
    }
}

@media only screen and (max-width: 700px){
    body {
        background-color: dodgerblue;
    }
}

@media only screen and (max-width: 600px){
    body {
        background-color: blueviolet;
    }
}